*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{

    align-items: center;
    justify-content: space-evenly;
    background-color: #1e172f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{

    margin-left: 10%;
}

.links{

    align-items: center;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    margin-right: 10%;
    font-size: 20px;
}

.boton1{

    width: 100px;
    height: 50px;
    border: none;
    background:none;
    color: white;
    border-radius: 6px;
    padding: 10px;
    background: linear-gradient(to right, #8541d5, #097cd5);
}

.contenedor1{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40pc;
}

.contenedor_izquierdo{

    display: flex;
    flex-direction: column;
    background-color: #2e2550;
    width: 50%;
    text-align: center;
    color: white;
}

.titulo{
    margin: 20% 0 7% 32% ;
    text-align: left;
    font-size: 75px;
}

.contenedor_botones{

    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 30px 0 0 32% ;
    text-align: left;
    width: 40%;
    border-radius: 6px ;
    padding: 2px;
    border-color: solid white 1px;
    font-size: 2px;
}

.boton_izquierdo {

    width: 50%;
    height: 45px;
    background-color:#ffffff;
    color: #f649a1;
    font-size: 15px;
    border-radius: 5%;
   
}

.boton_derecho{

    width: 50%;
    height: 45px;
    background-color: #2e2550;
    color: white;
    font-size: 15px;
    border-color: white;
    border-radius: 5%;
}

.texto{

    margin: 0 0 0 32% ;
    width: 60%;
    text-align: left;
    font-size: 20PX;
}

.contenedor_derecho{

    background-image: url(../Images/hojasFondo.jfif);
    width: 50%;
    background-size: cover;
}

.contenedor_derecho img{

   width: 200px;
   margin: 20% 0 0 20%;
   
}

.contenedor2{

    display: flex;
    flex-direction: column;
    height: 50pc;
}

.pc{
    margin-left: 30%;
    width: 80%;
}

.contenido_interno{

    display: flex;
    flex-direction: row;
}
.conderecho{

    text-align: left;
    margin-left: 20%;
}

.titulo2{

    font-size: 80px;
    color: #c8297a;
    text-align: center;
    margin: 5%;
    
}

.titulo_interno1{


    margin-bottom: 70px;
    color: #d73086;
    font-size: 30px;
    
}

.titulo_interno2{

    color: #f02e91;
}

.texto2{

    font-size: 20px;
    width: 60%;
    margin-bottom: 20px;
    
}

.titulo3{

    margin: 20px;
    font-size: 50px;
    text-align: center;
}



.lista{

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

span{
    color: #d73086;
    margin-right: 5px;
}

.contenedor3{

    background-color: #1e172f;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    height: 65pc;

}

.texto3{

    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-top: 3%;
    
}



.tarjetas{

    display: flex;
    flex-direction: row;
    gap: 20px;
    color: black;
    margin: 5% 0 0 15% ;
    width: auto;

}

.tarjeta{

    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 30%;
    height: 42pc;
    border-radius: 5px;
    gap: 5px;
    padding-bottom: 0%;
}

.imagen{

    width: 80px;
    margin-left: 38%;
}

.tipo1{

    color: #f41787;
    margin-bottom: 30px;
    font-size: 30px;
}

.tipo2 {

    color: #312c48;
    margin-bottom: 30px;
    font-size: 30px;
    

}

.precio{

    font-size: 40px;
    margin-bottom:30px;
    background-color: #f5f5f5;
    height: 4pc;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;


}

.tiempo{

    color: black;
    font-size: 15px;
    margin-left: 5px;
}

.lista_tarjetas{

    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    list-style: none;

    
}

.lis{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}

.contenedor_lista{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 70px;
}

.rosado{
    color: #f41486;
    font-weight:bolder;

    display: flex;
    flex-direction: row;
    
}

.chulo{
    color: #1e172f;
    text-align: start;
    font-weight:bolder;

}

.texto4{

    width: 60%;
    margin: 50px 80px;
    font-size: 18px;
}

.contenedorbtn{

    display: flex;
    height: 5pc;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.btnsub{

    height: 3pc;
    background: linear-gradient(to right, #eb65aa,#f31a88 );
    width: 10pc;
    border: transparent;
    border-radius: 5px;
    color: white;
    -webkit-box-shadow: 0px 8px 51px -15px rgba(0,0,0,1);
-moz-box-shadow: 0px 8px 51px -15px rgba(0,0,0,1);
box-shadow: 0px 8px 51px -15px rgba(0,0,0,1);
   

}

.btnsub2{
    width: 10pc;
    border: transparent;
    border-radius: 5px;
    height: 3pc;
    background-color: #2e2550;
    color: white;
    -webkit-box-shadow: 0px 8px 51px -15px rgba(0,0,0,1);
-moz-box-shadow: 0px 8px 51px -15px rgba(0,0,0,1);
box-shadow: 0px 8px 51px -15px rgba(0,0,0,1);
}

footer{
    height: 7pc;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
}

footer p {

    margin: 50px  200px;
}

footer div{

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 40px 200px;
}

.imgfooter{
    width: 30px;
    height: 30px;
    
}


