<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Style.css">
    <title>Product Page</title>
</head>

<header>

    <section class="logo" >
        <img src="../Images/logo.png" alt="">
    </section>

    <ul class="links" >
        <li><a href=""></a>About</li>
        <li><a href=""></a>Features</li>
        <li><a href=""></a>Use Case</li>
        <li><a href=""></a>Pricing</li>
        <button class="boton1" >Dowloand</button>
    </ul> 

</header>


<body>

    <section class="contenedor1" >
        <div class="contenedor_izquierdo" >
            <h2 class="titulo" >Product <br>  Page</h2>

            <nav class="texto" >
                <p>We built this template to help ypu create modern and beatiful markenting page</p>
            </nav>
            <div class="contenedor_botones" >

                <button class="boton_izquierdo" > <b>Dowloand it now</b> </button>
                <button class="boton_derecho" > <b> Features</b></button>

            </div>
        </div>


        <div class="contenedor_derecho" >

            <img src="../Images/phone.png" alt="">

        </div>
    </section>



    <section class="contenedor2" >

        <h2 class="titulo2" >Functionnalites</h2>

        <div class="contenido_interno" >

            <div>
                <img class="pc" src="../Images/laptop.png" alt="">
            </div>

            <nav class="conderecho" >
                <div class="titulo_interno1" >
                    <h2>Alpha Screenshot</h2>
                </div>
    
                <div class="texto2" >
                    <p> This is a placeholder text. Replace it with your awesome call to action text. Develop stunning product website easily wiht this template.</p>
                </div>

                <nav class="titulo3" >
                    <h3 class="titulo_interno2" > - Marketing page</h3>
                </nav>
                
    
                <div  >
                    <ul class="lista" >
                        <li> <span>⦿</span> Based on Bootstrap 4 </li>
                        <li> <span>⦿</span> Modern and creative</li>
                        <li> <span>⦿</span> Optimized for mibile devices</li>
                    </ul>
                </div> 
                
            </nav>   
        </div>
    </section>


    <section class="contenedor3">

        <div class="titulo3" >
            <h3> Plans & Pricing </h3>
        </div>

        <div>
            <p  class="texto3" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ipsa praesentium maxime iste quidem iusto vero voluptatibus, modi exercitationem suscipit distinctio deserunt adipisci. Reprehenderit dignissimos aperiam iure debitis placeat facere omnis at assumenda labore dolore inventore quia nam soluta, reiciendis blanditiis officia quam impedit! Deleniti sapiente quae eos possimus labore?</p>
        </div>

        <div class="tarjetas">

            <div class="tarjeta">

                <img  class="imagen" src="../Images/hoja.png" alt="">

                <h3 class="tipo1" >Lite</h3>

                <div  class="precio"  >
                    <nav>
                        $0
                    </nav>
                        
                    <nav>
                        <p  class="tiempo" >Free</p>
                    </nav>
                </div>

                <div class="contenedor_lista" >

                    <nav class="lis">
                        <span class="rosado" >★</span>
                        <span class="rosado" >✔</span> 
                        <span class="rosado" >✔</span> 
                        <span class="rosado" >✔</span> 
                        <span class="chulo" >★</span>
                    </nav>

                    <ul class="lista_tarjetas" >
                        <li> Full Components </li>
                        <li> Future Updates</li>
                        <li> Documentation</li>
                        <li> customer Support</li>
                        <li> Cool Option</li>
                    </ul>
                </div>

                <div class="texto4" >
                    <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulpatate at, tampus viverra turpis.</p>
                </div>

                <div class="contenedorbtn" >
                    <button class="btnsub" >Subscribe Now</button>
                </div>
            </div>

            <div class="tarjeta">

                <img  class="imagen" src="../Images/nube.png" alt="">

                <h3 class="tipo2" >Standard</h3>

                <div class="precio" >
                    <nav  >
                        $24
                    </nav>
                        
                    <nav>
                        <p class="tiempo" >per month</p>
                    </nav>
                </div>

                <div class="contenedor_lista" >

                    <nav class="lis">
                        <span class="chulo" >★</span>
                        <span class="chulo" >✔</span> 
                        <span class="chulo" >✔</span> 
                        <span class="chulo" >✔</span> 
                        <span class="chulo" >★</span>
                    </nav>

                    <ul class="lista_tarjetas" >
                        <li> Full Components </li>
                        <li> Future Updates</li>
                        <li> Documentation</li>
                        <li> customer Support</li>
                        <li> Cool Option</li>
                    </ul>
                    
                </div>

                <div class="texto4" >
                    <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulpatate at, tampus viverra turpis.</p>
                </div>

                <div class="contenedorbtn" >
                    <button class="btnsub2" >Subscribe Now</button>
                </div>
            </div>

            <div class="tarjeta">

                <img class="imagen" src="../Images/maletin.png" alt="">

                <h3 class="tipo2" >Ultimate</h3>

                <div class="precio"  >
                    <nav>
                        $400
                    </nav>
                        
                    <nav>
                        <p class="tiempo" >per user <br> / year</p>
                    </nav>
                </div>

                <div class="contenedor_lista" >

                    <nav class="lis">
                        <span class="chulo" >★</span>
                        <span class="chulo" >✔</span> 
                        <span class="chulo" >✔</span> 
                        <span class="chulo" >✔</span> 
                        <span class="chulo" >★</span>
                    </nav>

                    <ul class="lista_tarjetas" >
                        <li> Full Components </li>
                        <li> Future Updates</li>
                        <li> Documentation</li>
                        <li> customer Support</li>
                        <li> Cool Option</li>
                    </ul>
                    
                </div>

                <div class="texto4" >
                    <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulpatate at, tampus viverra turpis.</p>
                </div>

                <div class="contenedorbtn" >
                    <button class="btnsub2" >Subscribe Now</button>
                </div>
            </div>

        </div>
    </section>
    
</body>

<footer>

    <p>© Website made by <span> Mivfx</span> - contact - jeffersondavid803@gmail.com</p>

    <div>
        <img class="imgfooter" src="../Images/facebook.png" alt="">
        <img class="imgfooter" src="../Images/gorjeo.png" alt="">
        <img class="imgfooter" src="../Images/linkedin.png" alt="">
        <img class="imgfooter" src="../Images/instagram.png" alt="">
    </div>


</footer>

</html>